<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.dao.DictMapper">
    <select id="queryDictValue" resultType="java.lang.String">
        select td.dict_value  from t_dict td where td.dict_code=#{dictCode}
    </select>
</mapper>