<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wp.dao.OrderMapper">

    <select id="queryOrder" resultType="com.wp.pojo.QueryOrder" parameterType="java.lang.Long">
        select t.*,toe.* from t_order t
        left join t_order_ext toe on t.id =toe.order_id
        where t.consumer_id = #{userId}
    </select>

    <insert id="saveOrder" parameterType="com.wp.pojo.Order">
        insert into t_order (order_no,total_price,mark)values (#{orderNo},#{totalPrice},#{mark})
    </insert>
</mapper>